{% extends "base.html" %}
{% block title %}divisions{% endblock %}

{% block body %}

	<div class="home-photo">
		<img  class="resize" src="static/img/logo.png"/>
	</div>

	<div class="title">
		<h1>Divisions</h1>
	</div>
<div class="division-list">
	<ul>
		<li>
			<h3>Build</h3>
			<p>This group specializes in creating and assembling all the pieces needed for our robot to function. They manufacture pieces using the CAD drawings and are taught important machinery skills necessary for all engineers.
			</p>
		</li>
		<li>
			<h3>Business</h3>
			<p>This group is responsible for the funding that is needed for the team’s robot and trips to competitions for FIRST. Members of this branch are also required to write the Chairman’s Award, Entrepreneurship Award, and the Engineering Inspiration Award.</p>
		</li>
		<li>
			<h3>Programming</h3>
			<p>​This group is absolutely essential to have a robot that works. All of build makes the robot, but it is up to programming to have a robot that can move. Programmers are responsible for coding the robot, apps we have, and our website.</p>
		</li>
		<li>
			<h3>CAD</h3>
			<p>This group is tasked with designing the robot’s individual pieces on the computer program, SolidWorks. Before the robot is built, the whole thing is virtually put together in SolidWorks so that mistakes can be corrected and parts can be more accurately made by hand. After mistakes are corrected, the final design is sent to manufacturers to be made exactly as we need it. Beginners are taught CAD from scratch by following a curriculum.</p>
		</li>
		<li>
			<h3>Electrical</h3>
			<p>This group is responsible for the electrical aspects of the robot such as wiring, pneumatics, and batteries. These individuals learn how to create electrical circuits safely and how to use air pressure efficiently.</p>
		</li>
		<li>
			<h3>Safety</h3>
			<p>​Click the button to read our guide to starting a safety program</p>
			<div class="safety-button">
			<a href=static/img/safety.pdf><button>Guide to starting a safety program</button></a>
			</div>
			
		</li>
	</ul>
</div>
{% endblock %}